In [1]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreySchafer@gmail.com", "JaneDoe@gmail.com", "JohnDoe@gmail.com"]
}

In [2]:
people["email"]

['CoreySchafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com']

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [6]:
df["email"]

0    CoreySchafer@gmail.com
1         JaneDoe@gmail.com
2         JohnDoe@gmail.com
Name: email, dtype: object

In [9]:
df.email

0    CoreySchafer@gmail.com
1         JaneDoe@gmail.com
2         JohnDoe@gmail.com
Name: email, dtype: object

In [10]:
## Access multiple columns
## Using list of key columns
df[['last', 'email']] # This is another data frame

      last                   email
0  Schafer  CoreySchafer@gmail.com
1      Doe       JaneDoe@gmail.com
2      Doe       JohnDoe@gmail.com

In [12]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [15]:
# iloc allows to access rows by integer location
df.iloc[0]

first                     Corey
last                    Schafer
email    CoreySchafer@gmail.com
Name: 0, dtype: object

In [19]:
# Get multiple rows
df.iloc[[0, 1]] # This is still another data frame

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com

In [23]:
# Get email of the first 2 rows
df.iloc[[0, 1], 2]
# iloc can't use label, ex: df.iloc[[0, 1], 'email'] will not work

0    CoreySchafer@gmail.com
1         JaneDoe@gmail.com
2         JohnDoe@gmail.com
Name: email, dtype: object

In [29]:
# using loc -> can pass label
df.loc[[0, 1], ['email', 'last']]

                    email     last
0  CoreySchafer@gmail.com  Schafer
1       JaneDoe@gmail.com      Doe