In [2]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreySchafer@gmail.com", "JaneDoe@gmail.com", "JohnDoe@gmail.com"]
}

import pandas as pd
df = pd.DataFrame(people)

In [3]:
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [16]:
## Can use & (and), | (or), ~ (not)
filt = (df['last'] == 'Doe') & (df['first'] == 'John')
filt

0    False
1    False
2     True
dtype: bool

In [17]:
df[filt]

  first last              email
2  John  Doe  JohnDoe@gmail.com

In [18]:
df.loc[filt, 'email']

2    JohnDoe@gmail.com
Name: email, dtype: object