In [1]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreySchafer@gmail.com", "JaneDoe@gmail.com", "JohnDoe@gmail.com"]
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [5]:
df['email']

0    CoreySchafer@gmail.com
1         JaneDoe@gmail.com
2         JohnDoe@gmail.com
Name: email, dtype: object

In [8]:
df.set_index('email', inplace=True)

In [9]:
df

                        first     last
email
CoreySchafer@gmail.com  Corey  Schafer
JaneDoe@gmail.com        Jane      Doe
JohnDoe@gmail.com        John      Doe

In [10]:
df.index

Index(['CoreySchafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com'], dtype='object', name='email')

In [12]:
## Get the data directly from unique value
df.loc['CoreySchafer@gmail.com']

first      Corey
last     Schafer
Name: CoreySchafer@gmail.com, dtype: object

In [13]:
df.loc['CoreySchafer@gmail.com', 'last']

'Schafer'

In [14]:
# index label works with iloc
df.iloc[0]

first      Corey
last     Schafer
Name: CoreySchafer@gmail.com, dtype: object

In [16]:
## reset index
df.reset_index(inplace=True)
df

   index                   email  first     last
0      0  CoreySchafer@gmail.com  Corey  Schafer
1      1       JaneDoe@gmail.com   Jane      Doe
2      2       JohnDoe@gmail.com   John      Doe