In [31]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreySchafer@gmail.com", "JaneDoe@gmail.com", "JohnDoe@gmail.com"]
}

import pandas as pd
df = pd.DataFrame(people)
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [3]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [4]:
df.columns = ['first_name', 'last_name', 'email']
df

  first_name last_name                   email
0      Corey   Schafer  CoreySchafer@gmail.com
1       Jane       Doe       JaneDoe@gmail.com
2       John       Doe       JohnDoe@gmail.com

In [5]:
df.columns = [x.lower() for x in df.columns]
df

  first_name last_name                   email
0      Corey   Schafer  CoreySchafer@gmail.com
1       Jane       Doe       JaneDoe@gmail.com
2       John       Doe       JohnDoe@gmail.com

In [6]:
df.columns = df.columns.str.replace(' ','_')
df

  first_name last_name                   email
0      Corey   Schafer  CoreySchafer@gmail.com
1       Jane       Doe       JaneDoe@gmail.com
2       John       Doe       JohnDoe@gmail.com

In [7]:
df

  first_name last_name                   email
0      Corey   Schafer  CoreySchafer@gmail.com
1       Jane       Doe       JaneDoe@gmail.com
2       John       Doe       JohnDoe@gmail.com

In [8]:
df.rename(columns={'first_name': 'first', 'last_name': 'last'}, inplace=True)
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [9]:
## Update single value
df.loc[2] = ['John', 'Smith', 'JohnSmith@gmail.com']
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John    Smith     JohnSmith@gmail.com

In [10]:
df.loc[2, ['last', 'email']] = ['Doe', 'JohnDoe@gmail.com']
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [11]:
df.loc[2, 'last'] = 'Smith'
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John    Smith       JohnDoe@gmail.com

In [12]:
df.at[2, 'last'] = 'Doe'
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [14]:
## Error
# filt = (df['email'] == 'JohnDoe@gmail.com')
# df[filt]['last'] = 'Smith'

## Works
filt = (df['email'] == 'JohnDoe@gmail.com')
df.loc[filt, 'last'] = 'Smith'
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John    Smith       JohnDoe@gmail.com

In [19]:
df['email'] = df['email'].str.lower()
df

   first     last                   email
0  Corey  Schafer  coreyschafer@gmail.com
1   Jane      Doe       janedoe@gmail.com
2   John    Smith       johndoe@gmail.com

In [25]:
df['email'].apply(len)

0    22
1    17
2    17
Name: email, dtype: int64

In [26]:
def update_email(email):
    return email.upper()

In [27]:
df['email'].apply(update_email)

0    COREYSCHAFER@GMAIL.COM
1         JANEDOE@GMAIL.COM
2         JOHNDOE@GMAIL.COM
Name: email, dtype: object

In [32]:
df['email'] = df['email'].apply(update_email)
df

   first     last                   email
0  Corey  Schafer  COREYSCHAFER@GMAIL.COM
1   Jane      Doe       JANEDOE@GMAIL.COM
2   John      Doe       JOHNDOE@GMAIL.COM

In [33]:
df['email'] = df['email'].apply(lambda x:x.lower())
df

   first     last                   email
0  Corey  Schafer  coreyschafer@gmail.com
1   Jane      Doe       janedoe@gmail.com
2   John      Doe       johndoe@gmail.com

In [44]:
## Return the length of list for each key in data frame
df.apply(len)

first    3
last     3
email    3
dtype: int64

In [37]:
len(df['last'])

3

In [46]:
df.apply(len, axis='columns')

0    3
1    3
2    3
dtype: int64

In [47]:
## Return min value baesd on Alphabet on each column
df.apply(pd.Series.min)

first                     Corey
last                        Doe
email    coreyschafer@gmail.com
dtype: object

In [50]:
df.apply(lambda x: x.min())

first                     Corey
last                        Doe
email    coreyschafer@gmail.com
dtype: object

In [54]:
# applymap -> use for all invidual value in data frame
df.applymap(len)

   first  last  email
0      5     7     22
1      4     3     17
2      4     3     17

In [57]:
df.applymap(lambda x: x.lower())

   first     last                   email
0  corey  schafer  coreyschafer@gmail.com
1   jane      doe       janedoe@gmail.com
2   john      doe       johndoe@gmail.com

In [58]:
df['first'].map({'Corey': 'Chris', 'Jane': 'Marry'})

0    Chris
1    Marry
2      NaN
Name: first, dtype: object

In [61]:
df['first'] = df['first'].replace({'Corey': 'Chris', 'Jane': 'Marry'})
df

   first     last                   email
0  Chris  Schafer  coreyschafer@gmail.com
1  Marry      Doe       janedoe@gmail.com
2   John      Doe       johndoe@gmail.com