In [2]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreySchafer@gmail.com", "JaneDoe@gmail.com", "JohnDoe@gmail.com"]
}

import pandas as pd
df = pd.DataFrame(people)
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [3]:
df.sort_values(by='last', ascending=False)

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [4]:
df.sort_values(by=['last', 'first'], ascending=False)
## Sort theo last trước tiên, sau đó sort theo first với các giá trị last trùng nhau

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
2   John      Doe       JohnDoe@gmail.com
1   Jane      Doe       JaneDoe@gmail.com

In [5]:
df = df.append({'first': 'Adam', 'last': 'Doe', 'email': 'AdamDoe@gmail.com'}, ignore_index=True)

In [6]:
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com
3   Adam      Doe       AdamDoe@gmail.com

In [7]:
df.sort_values(by=['last', 'first'], ascending=[False, True], inplace=True)
# last => sort theo giảm dần (decending)
# first => sort theo tăng dần (ascending)

In [8]:
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
3   Adam      Doe       AdamDoe@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [9]:
df.sort_index(inplace=True)

In [10]:
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com
3   Adam      Doe       AdamDoe@gmail.com

In [11]:
df['last'].sort_values()

1        Doe
2        Doe
3        Doe
0    Schafer
Name: last, dtype: object